.grid {
    &__group {
        position: relative;
    }
    &__link {
        padding: 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 46px;
        height: 48px;
        background-color: #A74127;
        font-size: 15px;
        color: #fff;
        transition: 0.2s;
        &:hover {
            background-color: #a65844;
        }
    }
    &__col {
        display: flex;
        align-items: center;
        &_bottom {
            flex-direction: column;
        }
    }
    &__img {
        flex: none;
    }
}
