.about {
    background-color: $fourth-color;
    &__titles {
        flex-direction: column;
        padding: 40px 0;
        @media(min-width: 1025px){
            padding: 100px 0 0;
        }
    }
    &__text_title {
        color: $primary-color;
    }
    &__title {
        font-size: 50px;
        text-align: center;
    }
    &__text_group {
        text-align: center;
        @media(min-width: 768px){
            width: 510px;
        }
    }
    &__img {
        //max-width: 70%;
    }
    &__desc_wrapper {
        justify-content: space-between;
    }
    &__desc {
        flex: 0 1 200px;
        padding-top: 100px;
    }
    &__img_wrapper {
        display: flex;
        justify-content: flex-end;
        position: relative;
        flex: 0 1 70%;
        width: 100%;
        height: auto;
    }
}
