.top__section {
    background-color: var(--mantine-color-white);
    &_title {
        text-align: center;
        font-weight: 500;
    }
    &_title2 {
        font-weight: 500;
    }
    &_img_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    &_img {
        width: 60%;
    }
    &_word {
        color: #A74127;
    }
}
