.top__section {
    background-color: var(--mantine-color-white);
    &_title {
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        @media(min-width: 1024px){
            font-size: 35px;
        }
    }
    &_title2 {
        font-weight: 500;
        text-align: center;
        font-size: 35px;
        @media(min-width: 768px)  {
            font-size: 50px;
        }
        @media(min-width: 1024px)  {
            font-size: 90px;
        }
    }
    &_img_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        @media(min-width: 768px)  {
            margin-top: 80px;
        }
    }
    &_img {
        width: auto;
        @media(min-width: 768px)  {
            max-width: 80%;
            width: auto;
        }
    }
    &_word {
        color: #5B5A5F;
    }
}
