.text {
    background-color: #e4e4e499;
    &_sustainability {
        background-color: #fff;
    }
    &__group {
        justify-content: center;
        padding: 40px 0;
        flex-direction: column;
        @media(min-width: 1025px) {
            padding: 100px 0;
        }
    }

    &__title {
        font-size: 27px;
        @media(min-width: 1025px){
            font-size: 50px;
        }
    }

    &__description {
        width: auto;
        @media(min-width: 1025px) {
            width: 800px;
        }
    }
}
.link {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
    height: 48px;
    background-color: #222027;
    font-size: 14px;
    color: #fff;
    transition: 0.2s;
    font-weight: 600;
    &:hover {
        background-color: #a65844;
    }
}
.img {
    object-fit: contain;
    @media(max-width: 1024px){
        transform: rotate(90deg);
    }
}
