.text {
    position: absolute;
    bottom: 400px;
    -webkit-text-decoration-color: #222027;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 1);
    color: transparent;
    font-size: 100px;
    @media(min-width: 320px){
        bottom: 230px;
    }
    @media(min-width: 400px){
        bottom: 280px;
    }
    @media(min-width: 475px){
        bottom: 310px;
    }
    @media(min-width: 575px){
        bottom: 400px;
    }
    @media(min-width: 1025px){
        bottom: 0;
        font-size: 500px;
    }
}
