*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


$primary-color: #A74127;
$text-color: #222027;
$third-color: #A4A4A4;
$fourth-color: #F6F4F1;

body, html {
    -webkit-font-smoothing: antialiased;  /* Для WebKit-браузеров */
    -moz-osx-font-smoothing: grayscale;   /* Для Firefox на macOS */
    text-rendering: optimizeLegibility;
}

body {
    font-family: "avenir-book", sans-serif;
    font-style: normal;
}

h1 {
    font-family: "novecento-sans-wide", sans-serif;
    font-weight: 400!important;
    font-style: normal;
}

* {
    color: $text-color;
}
