*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


$primary-color: #A74127;
$text-color: #222027;
$third-color: #A4A4A4;
$fourth-color: #F6F4F1;

body {
    font-family: Novecento, sans-serif;
    font-size: 16px;
}

* {
    color: $text-color;
}
